// -----------------------------------------------------------------------------
// FORGOT PASSWORD
// -----------------------------------------------------------------------------
.forgot-password-page{
    @include whd($height: 100vh);

    .logo{
        @include whd($width: 220px);
        margin: auto;
    }

    .forgot-password-form{
        @include whd($width: 90%);
        max-width: 450px;
        margin: 30px auto 20px auto;
        background: #ffffff;
        @include light-box-shadow;
        @include border-radius(5px);
        padding: 40px;

        .form-heading{
            @include whd;
            margin: 0px;
            margin-top: -8px;
            margin-bottom: 15px;
            font-family: $primary-font;
            font-size: 2rem;
            font-weight: 600;
            color: $text-color;
        }

        .form-description{
            @include whd;
            margin: 0px;
            margin-bottom: 25px;
            font-family: $secondary-font;
        }

        i.ion-ios-lock{
            padding: 0px 1.5px;
        }

        button.btn[type="submit"]{
            @include whd($width: 100%);
            float: none;
            margin-top: 0px;

            span{
                float: none;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// FORGOT PASSWORD (RTL)
// -----------------------------------------------------------------------------
.rtl{
    .forgot-password-page{
        .forgot-password-form{
            .form-heading, .form-description{
                text-align: center;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// FORGOT PASSWORD (RESPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 500px){
    .forgot-password-page .forgot-password-form{
        padding: 25px;
    }
}