<div class="email-notifications">
    <div class="icon-notifications">
        <i class="fa fa-envelope-o"></i>
        <span class="notification-counter">2</span>
    </div>
    <div class="email-notifications-dropdown" [ngClass]="{'show': toggled}">
        <div class="dropdown-title">
            <div class="auto-height-fix">
                <span class="title">E-mail Notifications</span>
                <span class="badge">2 New</span>
            </div>
        </div>
        <div class="email-messages">
            <a href="#" class="email-message">
                <div class="name-date">
                    <span class="name">Mina Alber</span>
                    <span class="date">20 January 2019, 08:35 PM</span>
                </div>
                <span class="subject" >Quick Contact Message</span>
                <span class="truncated-message">
                    Voluptatum pariatur dolorum ducimus nam inventore fuga dicta ad aspernatur 
                    animi eum ...
                </span>
            </a>
            <a href="#" class="email-message unseen">
                <div class="name-date">
                    <span class="name">Mina Alber</span>
                    <span class="date">20 January 2019, 08:35 PM</span>
                </div>
                <span class="subject" >Quick Contact Message</span>
                <span class="truncated-message">
                    Voluptatum pariatur dolorum ducimus nam inventore fuga dicta ad aspernatur 
                    animi eum ...
                </span>
            </a>
            <a href="#" class="email-message">
                <div class="name-date">
                    <span class="name">Mina Alber</span>
                    <span class="date">20 January 2019, 08:35 PM</span>
                </div>
                <span class="subject">Quick Contact Message</span>
                <span class="truncated-message">
                    Voluptatum pariatur dolorum ducimus nam inventore fuga dicta ad aspernatur 
                    animi eum ...
                </span>
            </a>
            <a href="#" class="email-message unseen">
                <div class="name-date">
                    <span class="name">Mina Alber</span>
                    <span class="date">20 January 2019, 08:35 PM</span>
                </div>
                <span class="subject" >Quick Contact Message</span>
                <span class="truncated-message">
                    Voluptatum pariatur dolorum ducimus nam inventore fuga dicta ad aspernatur 
                    animi eum ...
                </span>
            </a>
            <a href="#" class="email-message">
                <div class="name-date">
                    <span class="name">Mina Alber</span>
                    <span class="date">20 January 2019, 08:35 PM</span>
                </div>
                <span class="subject" >Quick Contact Message</span>
                <span class="truncated-message">
                    Voluptatum pariatur dolorum ducimus nam inventore fuga dicta ad aspernatur 
                    animi eum ...
                </span>
            </a>
        </div>
        <a href="#" class="see-all-notifications">See All E-mail Notifications</a>
    </div>
</div>
