// -----------------------------------------------------------------------------
// MAIN PANEL
// -----------------------------------------------------------------------------
.main-panel{
    @include whd(calc(100% - 251px));
    float: right;
    margin-top: 60px;
    @include transition(0.5s, ease-in-out);
    position: relative;

    .page-body{
        @include whd;
        padding: 2rem;
    }
}

// -----------------------------------------------------------------------------
// WHEN CLOSE/OPEN NAVMENU THROUGH MENU CLICK
// -----------------------------------------------------------------------------
.hide-nav-menu{
    .main-panel{
        width: 100%;
    }
}

// -----------------------------------------------------------------------------
// MAIN PANEL (RTL)
// -----------------------------------------------------------------------------
.rtl{
    .main-panel{
        float: left;
    }
}

// -----------------------------------------------------------------------------
// MAIN PANEL (RESSPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 950px){
    .main-panel{
        width: 100%;
    }
}