// -----------------------------------------------------------------------------
// DEFAULT THEME
// -----------------------------------------------------------------------------
$primary-font: 'Cairo';
$secondary-font: 'Tajawal';
$helper-font: '';
$primary-color: #358ecf;
$primary-color-dark: #2f81bb;
$primary-color-faded: rgba(53, 142, 207, 0.10); 
$secondary-color: #41b94d;
$helper-color: #f3a707;
$error-color: #e94d4d;
$placeholder-color: #969696;
$menu-item-color: #6b6b6b;
$text-color: #444444;
$separator-color: #f8f8f8;
$light-color: #fafafa;
$medium-color: #ebebeb;